{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="links-container">
    <h2>Task 1: Links and layout customization</h2>
    
    <a href="https://www.qu.edu.sa" target="_blank" class="qu-link" id="link1">Go to QU website (open a new tab)</a>
    
    <br><br>
    
    <a href="https://www.qu.edu.sa" target="_self" class="qu-link" id="link2">Go to QU website (open in the same page/tab)</a>
    
    <br><br>
    
    <a href="https://www.qu.edu.sa" class="qu-link" id="link3">Go to QU website (open in the same page/tab)</a>
</div>
{% endblock content %}
