{% extends "layouts/base.html" %}
{% load static %}

{% block title %} List of Books {% endblock title %}

{% block content %}
    <h1>List of Books</h1>
    <div>
        <h2>1) Internet & World Wide Web</h2>
        <a href="{% url 'books.view_one_book' bookId=123 %}">
            <img src="{% static 'book1.jpeg' %}" width="200">
        </a>
    </div>
    <hr>
    <div>
        <h2>2) C++ How to Program</h2>
        <img src="{% static 'book2.jpeg' %}" width="200">
    </div>
{% endblock content %}
