{% extends "layouts/base.html" %}

{% block content %}
<div style="padding: 20px;">
    <h2>Task 4: Tables and layout customization</h2>
    
    <h3>Table 1: Fruits Prices</h3>
    <table border="1" style="width: 40%; text-align: center; border-collapse: collapse;">
        <tr style="background-color: #f2f2f2;">
            <th>Fruit</th>
            <th>Price</th>
        </tr>
        <tr><td>Apple</td><td>$0.25</td></tr>
        <tr><td>Orange</td><td>$0.50</td></tr>
        <tr><td>Banana</td><td>$1.00</td></tr>
        <tr><td>Pineapple</td><td>$2.00</td></tr>
        <tr style="font-weight: bold;">
            <td>Total</td><td>$3.75</td>
        </tr>
    </table>

    <br><hr><br>

    <h3>Table 2: Complex Camelid Table</h3>
    <table border="1" style="width: 100%; border-collapse: collapse;">
        <tr>
            <th colspan="2"></th>
            <th style="background-color: #eee;">Camelid comparison<br>Approximate as of 6/2011</th>
        </tr>
        <tr>
            <th># of humps</th>
            <th>Spits?</th>
            <th>Indigenous region</th>
        </tr>
        <tr>
            <td>Dromedary</td>
            <td>1</td>
            <td>Arabian Peninsula</td>
        </tr>
        <tr>
            <td>Camels (bactrian)</td>
            <td>2</td>
            <td>Africa/Asia</td>
        </tr>
        <tr>
            <td>Llamas</td>
            <td>1</td>
            <td>Andes Mountains</td>
        </tr>
    </table>
</div>
{% endblock content %}
