<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>{% block title %} {% endblock title %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block stylesheets %} {% endblock stylesheets %}
</head>
<body>
    <div class="topnav">
        <a href="{% url 'books.index' %}">Home</a>
        <a href="{% url 'books.list_books' %}">List Books</a>
        <a href="{% url 'books.aboutus' %}">About</a>
    </div>

    {% block content %} 
    {% endblock content %}

    <hr>
    <footer>
        <p>© 2026 Library Project - Abu Ghaith</p>
    </footer>
</body>
</html>
